.menu {
  display: flex;
  gap: 2em;
}

.menu__list {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.menu__item {
  font-size: var(--regular-fs-secondary);
}

.menu__burger {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  min-width: 40vw;
  background-color: var(--secondary-bg);
  box-shadow: -4px 0px 20px #858282;
}

.menu__burger-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu__burger-container {
  margin-top: 5em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  padding: 1em;
}

.menu__burger-list {
  display: flex;
  gap: 1.5em;

  align-items: start;
  flex-direction: column;
}
