.footer {
    background-color: var(--secondary-bg);
    padding: 5em 2em;
}

.footer__title {
    font-size: var(--title-fs);
    text-transform: uppercase;
    font-weight: 300;
    width: 50%;
    text-align: center;
}

.footer__section-1 {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: start;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.footer__contacts-1 {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.footer__contacts-1 p {
    font-size: var(--regular-fs);
    max-width: 440px;
}

.footer__contacts-1 a {
    font-weight: 800;
}

.footer__contacts-2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__icons {
    display: flex;
    gap: 0.8em;
}

.footer__section-2 {
    background-color: var(--contrast-fc);
    margin: 4em 0;
    padding: 3em;

    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
} 


.footer__image-wrapper {
    display: flex;
    max-width: 541px; 
    aspect-ratio: 541 / 424; 
    overflow: hidden;
}
  
.footer__image-wrapper img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.footer__form-wrapper {
   max-width: 541px;
}

.footer__form-wrapper form {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer__form-wrapper h3 {
    font-size: var(--medium-fs);
    font-weight: 400;
}

.footer__form-wrapper form input {
    width: 100%;
    padding: 1em 2em;
    font-size: var(--regular-fs-secondary);
    border-radius: 3.3em;
    border: none;
    background-color: var(--secondary-bg);
}

@media screen and (max-width: 992px) {
    .footer__section-1, .footer__section-2  {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__title {
        width: 100%;
        font-size: var(--title-fs-secondary);
    }

    .footer__icons {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .footer__section-2  {
        margin-bottom: 0;
        padding: 1em;
    }

    .footer__section-1 {
        padding: 1em;
    }
}

@media screen and (max-width: 600px) {
    .footer__title {
        font-size: var(--medium-fs);
    }
}

@media screen and (max-width: 550px) {
    .footer {
        padding: 1em;
    }

    .footer__form-wrapper h3 {
        font-size: var(--regular-fs);
    }
}