.about-card {
  background-color: var(--light-bg);
  padding: 2em 4em;
  margin: 1em;
  text-align: left;

  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.about-card__text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 50%;
}

.about-card__title {
  font-size: var(--title-fs-secondary);
  text-transform: uppercase;
  font-weight: 400;
}

.about-card__desc {
  font-size: var(--regular-fs);
}

.about-card__image-wrapper {
  width: 50%;

  display: flex;
  flex: 1; /* Займає всю доступну ширину контейнера */
  max-width: 585px; /* Максимальна ширина для підтримання пропорцій */
  aspect-ratio: 585 / 424; /* Зберігає пропорції зображення */
  overflow: hidden;
}

.about-card__image {
  width: 100%; /* Зображення заповнює ширину контейнера */
  height: 100%; /* Зображення заповнює висоту контейнера */
  object-fit: cover; /* Зберігає пропорції зображення, обрізаючи зайве */
}

@media screen and (max-width: 1100px) {
  .about-card {
    padding: 2em;
  }

  .about-card__title {
    font-size: var(--medium-fs);
  }
}

@media screen and (max-width: 700px) {
  .about-card {
    padding: 1.5em;
  }

  .about-card__title {
    font-size: var(--regular-fs);
  }

  .about-card__desc {
    font-size: var(--regular-fs-secondary);
  }
}

@media screen and (max-width: 580px) {
  .about-card {
    padding: 1.5em;
    flex-wrap: wrap;
  }

  .about-card__text-container,
  .about-card__image-wrapper {
    width: 100%;
  }
}
