.header {
  margin: 0 3.3em;
  padding: 40px 0;
}

.header__inner-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

@media screen and (max-width: 600px) {
  .header {
    margin: 0 1.5em;
  }
}
