html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  --title-fs: 3.5rem; /* 63px */
  --title-fs-secondary: 2.5rem; /* 46px */
  --medium-fs: 1.5rem; /* 27px */
  --regular-fs: 1.1rem; /* 20px */
  --regular-fs-secondary: 1rem; /* 18px */

  --regular-fc: #000;
  --contrast-fc: #fff;
  --secondary-fc: #73a6b1;
  --light-bg: #f1fdff;
  --dark-bg: #7ae5fd;
  --secondary-bg: #f9fadf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--regular-fs);
  color: var(--regular-fc);
}

button {
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all ease 0.2s;
}

button:hover {
  font-weight: 800;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all ease 0.2s;
}

a:hover {
  font-weight: 800;
}

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
